
python/segmentation/.pydevproject
python/segmentation/.pydevproject
build/
gradle/
.gradle
.gradle/
.idea
.idea/
.cache-tests
DsolRuleWeb.iml
gradlew
gradlew.bat
node_modules/
*.class
*.log
/build/
.project
dsol-fastdata-actor.iml
dsol-fastdata.iml
dsol-fastdata-http.iml
.classpath
version.ini
.plugins/
.cache-main
.scala_dependencies
.worksheet
*.launch
.settings/
.loadpath
.recommenders
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.ipr
*.iws
*.iml
lib/
out/
src/main/resources/static/
FFDC/
